venv/
env/

# Jupyter Notebook-specific
.ipynb_checkpoints/

# Machine Learning and Deep Learning specific
*.h5
*.pt
*.ckpt
*.pth


# Ignore any compiled Python files
*.pyc
*.pyo
*.pyd

# macOS-specific
.DS_Store

# IDE-specific files
.idea/
.vscode/

# System-specific files
Thumbs.db
desktop.ini
